<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css">

<nav class="nav">
  <div class="nav-center">
    <div class="block">
      <a class="button" id="loginbtn">Log in</a>
      <a class="button" id="signupbtn">Sign up</a>
    </div>
  </div>
</nav>



<!-- form  -->

<!-- login -->
<div class="card" id="login">
  <header class="card-header">
    <p class="card-header-title">
      Log in form
    </p>
  </header>
  <div class="card-content">
  <p>
    <div class="columns is-mobile">
      <div class="column is-2 is-offset-1">
        <input class="input" type="text" placeholder="email">
      </div>
    </div>
  </p>
  <p>
    <div class="columns is-mobile">
      <div class="column is-2 is-offset-1">
        <input class="input" type="password" placeholder="password">
      </div>
    </div>
  </p>
  <div class="columns is-mobile">
  <div class="column is-2 is-offset-1">
    <a class="button is-primary">Log in</a>
  </div>
  </div>
</div>
</div>
<!-- end login -->

<!-- signup form -->
<div class="card" id="signup">
  <header class="card-header">
    <p class="card-header-title">
      Sign up Form
    </p>
  </header>
  <div class="card-content">
  <p>
    <div class="columns is-mobile">
      <div class="column is-2 is-offset-1">
        <input class="input" type="text" placeholder="email">
      </div>
    </div>
  </p>
  <p>
    <div class="columns is-mobile">
      <div class="column is-2 is-offset-1">
        <input class="input" type="password" placeholder="password">
      </div>
    </div>
  </p>
  <p>
    <div class="columns is-mobile">
      <div class="column is-2 is-offset-1">
        <input class="input" type="password" placeholder="password confirmation">
      </div>
    </div>
  </p>
  <div class="columns is-mobile">
  <div class="column is-2 is-offset-1">
    <a class="button is-primary">Sign up</a>
  </div>
  </div>
</div>  
</div>
    